@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply bg-gradient-to-r from-green to-blue-400 
  }
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom,#7E57C2,#0575e6);
}

::-webkit-scrollbar{
  width:8px;
  height:0;
}